<h1>All Cocktails</h1>
<div class="container", style="height: 100vh;">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-6">
        <div class="card">
        <img class="card-user" src="http://www.capital8bysodexo.com/wp-content/themes/capital8-2/img-src/espaces/logo-espace-cocktail-select.png">
        <div class="card-category"><%= link_to cocktail.name, cocktail_path(cocktail), style: "color: #ee0000" %></div>
        <div class="card-description">
          <% cocktail.doses.each do |dose| %>
          <p>
            <%= dose.description%>
            <%= dose.ingredient.name%>
          </p>
          <%end%>
        </div>
        <div class="card-description1">
        </div>

          <%= link_to "",cocktail_path(cocktail), class: "card-link" %>


        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "+", new_cocktail_path%>
