  <div class="container" , style="height: 100vh;"">
   <p class="dock-item1"><%= link_to image_tag("http://freevector.co/wp-content/uploads/2012/09/14367-go-back-arrow1.png", :border => 0, :width => 50, :height => 50,:alt => '', :title => ''), cocktails_path, :class => 'dock-item' %></p>



    <div class="wrapper text-center">
      <div class="row">
        <div class="col-xs-12 show-disp">
          <%= cl_image_tag @cocktail.photo, height: 200, width: 200, :radius=>"max", crop: :fill, class: "img-cust" %>
          <h2> <%= @cocktail.name %></h2>

          <% @cocktail.ingredients.each_with_index do |elt,ind| %>
            <div class="comment-show-desc ">
              <p> Ingredient: <%= elt.name%></p>
              <p class= "dose-pad"> dose: <%= @cocktail.doses[ind].description%></p>

            </div>
          <% end%>
          <div >
            <button class = "btn btn-primary btn-top"><%= link_to "new Ingredient", new_cocktail_dose_path(@cocktail), style: "color: #FFFFFF"%></button>
          </div>
        </div>
      </div>
    </div>
    <div class = btn-disp-fl>

      <button class="btn-bot btn"><%= link_to "Delete", cocktail_path(@cocktail),
        method: :delete,
        data: { confirm: "Are you sure?" } , style: "color: #ee0000"%></button>
    </div>
  </div>
